* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(238, 232, 224);
}

.all {
    background-color:hsl(0, 0%, 100%);
    width:655px;
    height: 1395px;
    border-radius:10px;
    margin: 35px auto ;
    padding-bottom: 20px;
}

img {
    margin: 20px;
    width:600px;
    height:277.7px;
    padding:25px 25px 10px;
    border-radius:35px ;
    -webkit-border-radius:35px ;
    -moz-border-radius:35px ;
    -ms-border-radius:35px ;
    -o-border-radius:35px ;
}

.title {
    text-align: center;
    color: hsl(24, 5%, 18%);
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.description {
    text-align: center;
    color: hsl(24, 5%, 18%);
    font-size: 16px;
}

.details {
    margin: 20px;
    padding: 10px 0 10px 20px;
    background-color: hsl(332, 29%, 90%) ;
}

.prep {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    color: hsl(332, 51%, 32%);
}

ul li {
    margin: 0 20px;
    font-size: 16px;
    padding: 10px;
    color: hsl(24, 5%, 18%);
}

.prept::marker {
    color: hsl(332, 51%, 32%);
}

.ing {
    margin: 20px;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: hsl(14, 45%, 36%);
}

.ingre::marker {
    color: hsl(14, 45%, 36%);
}

.first {
    width: 600px;
    margin: 2px 30px;
}

.ins {
    margin: 20px;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: hsl(14, 45%, 36%);
}

.first::marker {
    color: hsl(14, 45%, 36%);
}

span {
    font-family: "Roboto", serif;
    font-weight: 600;
    font-style: normal;
    color: hsl(24, 5%, 18);
}

.nut {
    margin: 20px;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: hsl(14, 45%, 36%);
}

h4 {
    margin-left: 20px;
    color: hsl(24, 5%, 18%);
}

th {
    margin-left: 20px;
    padding: 10px 0;
    color: hsl(24, 5%, 18%);
}

td {
    text-align: left;
    vertical-align: center;
    padding: 1%;
    border-bottom: 1px solid hsl(30, 54%, 90%);
    padding-left: 300px;
    color: hsl(14, 45%, 36%);
}

th, td {
    border-bottom: 1px solid #ddd;
}

table {
    width: 100%;
}

.last {
    border-bottom: none;
}